[submodule "services/notificaciones"]
	path = services/notificaciones
	url = https://github.com/noegonzalespereira/microservicio-notificacion.git
[submodule "services/recepcion_facturacion"]
	path = services/recepcion_facturacion
	url = https://github.com/nmmartinezp/recepion_de_facturacion.git
[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/Sebastian-Cepeda-Ch/servicio-autentificacion.git
[submodule "services/servicio-empresas-cufd"]
	path = services/servicio-empresas-cufd
	url = https://github.com/MauFGarzofino/servicio-empresas-cufd.git
