[submodule "services/servicio-empresas-cufd"]
	path = services/servicio-empresas-cufd
	url = https://github.com/MauFGarzofino/servicio-empresas-cufd.git
[submodule "services/recepion_de_facturacion"]
	path = services/recepion_de_facturacion
	url = https://github.com/nmmartinezp/recepion_de_facturacion.git
[submodule "services/servicio-autentificacion"]
	path = services/servicio-autentificacion
	url = https://github.com/Sebastian-Cepeda-Ch/servicio-autentificacion.git
	branch = main
