services:
  # ---------- NGINX reverse proxy ----------
  reverse-proxy:
    image: nginx:1.27-alpine
    container_name: reverse-proxy
    ports:
      - "8080:80" # Punto central de entrada
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - servicio-empresas-cufd
    networks:
      - siat-net

  # ---------- Servicio de Autenticación ----------
  auth-service:
    build:
      # IMPORTANTE: La ruta ahora incluye 'services/' por el submódulo
      context: ./services/auth-service 
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8001:8000" # Debug port
    environment:
      # OJO: El host de mongo ahora es 'mongo_auth' (nombre del contenedor de abajo)
      - DATABASE_URL=mongodb://mongo_auth:27017/authdb
      - SECRET_KEY=ESTA_ES_UNA_CLAVE_MUY_SECRETA_PARA_PROD_CAMBIAME
    volumes:
      # Montamos el volumen para desarrollo
      - ./services/auth-service:/app
    depends_on:
      - mongo_auth
    networks:
      - siat-net

  # ---------- Servicio Recepcion de Facturacion ----------
  ms_rfacturacion:
    build: ./recepcion_facturacion
    image: recepcion_facturacion:1.0
    container_name: recepcion_facturacion
    restart: always
    env_file:
      - ./services/recepcion_facturacion/.env
    depends_on:
      - db_postgres_rf
    networks:
      - siat-net
  # ---------- Servicio Empresas-CUFD ----------
  servicio-empresas-cufd:
    build:
      context: ./services/servicio-empresas-cufd
    container_name: servicio-empresas-cufd
    env_file:
      - ./services/servicio-empresas-cufd/.env # MONGO_URI
    depends_on:
      - mongo_empresas
    networks:
      - siat-net

  # ---------- Postgres de Recepcion de Facturacion ----------
  db_postgres_rf:
    image: postgres:alpine3.22
    container_name: db_postgres_rf
    restart: always
    env_file:
      - .env.db_postgres_rf
    volumes:
      - pg_data_rf:/var/lib/postgresql/data
      - ./dbconfig/init_rf.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - siat-net

  # ---------- Mongo de Autenticación (Separado) ----------
  mongo_auth:
    image: mongo:latest
    container_name: mongo_auth
    restart: always
    ports:
      # Usamos 27019 en el host para no chocar con mongo_empresas (27018) ni tu local (27017)
      - "27019:27017"
    volumes:
      - mongo_auth_data:/data/db
    networks:
      - siat-net

  # ---------- Mongo de Empresas ----------
  mongo_empresas:
    image: mongo:6
    container_name: mongo_empresas
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    # Para usar compass
    ports:
      - "27018:27017"
    volumes:
      - ./services/servicio-empresas-cufd/_data/mongo:/data/db
      - ./services/servicio-empresas-cufd/scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - siat-net

volumes:
  pg_data_rf:
  mongo_auth_data:
networks:
  siat-net:
